<!-- 
    <div>

    <mat-toolbar class="header">
        <img width="260" height="65" src="../../../../assets/images/logo.png" class="custom-logo" alt="Store Maranatha" srcset="https://storemaranatha.com.ar/storage/2020/09/logo-tienda-online-maranatha.png 260w,
          https://storemaranatha.com.ar/storage/2020/09/logo-tienda-online-maranatha-64x16.png 64w" sizes="(max-width: 260px) 100vw, 260px">
        <span class="example-spacer"></span>


        <div class="options">
            <a class="option" mat-button [routerLink]="'/'"> Inicio </a>
            <a class="option" mat-button [routerLink]="'/create-account'"> Productos </a>
            <a class="option" mat-button [routerLink]="'/contacts'"> Medios de Pago y Envío </a>
            <a class="option" mat-button [routerLink]="'/create-contact'"> Preguntas Frecuentes </a>
            <a class="option" mat-button [routerLink]="'/create-activity'"> Nosotros </a>

            <a class="option user-icon" href=""><span class="lnr lnr-user cart-icon"></span></a>
            <a href="" class="option cart-icon"><span class="lnr lnr-cart cart-icon"></span><span>0</span></a>

        </div>

   
                    <li id="" class=""><a href="https://storemaranatha.com.ar/categoria-producto/ropa-mujer/">Mujer</a></li>
                    <li id="" class=""><a href="https://storemaranatha.com.ar/categoria-producto/ropa-hombre/">Hombre</a></li>
                    <li id="" class=""><a href="https://storemaranatha.com.ar/categoria-producto/ropa-ninos/">Niños</a></li>
                    <li id="" class=""><a href="https://storemaranatha.com.ar/categoria-producto/ropa-bebes/">Bebés</a></li>
                    <li id="" class=""><a href="https://storemaranatha.com.ar/categoria-producto/calzado/">Calzado</a></li>
           

 


    </mat-toolbar>
   
</div> 


-->