#google-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.google-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.contenedor {
    background-color: white;
}

.align {
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}