<div class="limiter animated fadeInLeft contenedor">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">

            <!-- `formulario -->
            <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()" id="loginform" class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                    <img src="../../../../assets/images/logo.png" class="logo-container" alt="Store Maranatha">

              </span>

                <span *ngIf="" class="text-danger animated fadeIn">El correo es obligatorio</span>

                <!-- ÌNPUT MAIL -->
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="email" placeholder="Email" formControlName="email">

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="" class="text-danger animated fadeIn"></span>
                <div class="wrap-input100 m-b-16" data-validate="Password is required">

                    <!-- ÌNPUT PASS -->
                    <input class="input100" type="password" placeholder="Password" formControlName="password">
                    <span class="focus-input100"></span>
                </div>

                <!-- `checkbox recuerdame -->
                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="checkbox-signup" type="checkbox" formControlName="remember">
                        <label class="label-checkbox100" for="ckb1">
                          Recordarme
                      </label>
                    </div>

                    <div>
                        <a href="javascript:void(0)" id="to-recover" class="txt1 pull-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a>


                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                      Ingresar
                  </button>



                </div>




                <br>
                <div class="col">


                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 mb-4 " id="google-btn">

                            <div id="my-signin2"></div>

                        </div>
                    </div>

                    <div class="col-sm-12 text-center txt1">
                        Don't have an account?
                        <br> <a routerLink="/register" class="txt1"><b> Sign Up</b></a>
                    </div>
                </div>

            </form>

            <app-btnvolvertienda></app-btnvolvertienda>
        </div>
    </div>
</div>