<div class=" container animatedf">

    <div class="row contenedor">
        <h1 class="titulo ">NOSOTROS</h1>
    </div>


    <div class="card margen ">
        <div class="card-body">

            <div class="row contentContainer">
                <p class="card-title ">Somos una empresa de Tucumán – Argentina dedicada a la distribución mayorista de indumentaria y calzados en general, nuestros principales clientes son del NOA, y nuestra larga trayectoria en el mercado nos avalan.</p>
            </div>
            <br>
            <div class="row textContainer">
                <p class="card-title">¿Porque elegirnos? <br> Por qué tenemos los mejores precios del mercado debido a que nuestros productos llegan directamente de fabrica, sin intermediarios. Por qué la calidad de nuestros productos son de muy buena calidad. Por qué contamos
                    con un staff capacitado para su mejor atención. Por qué somos la única empresa del NOA que hacemos envíos a todo el país mediante un sistema eficaz de ventas online y despachamos dentro de las 24 hs. Por qué no es solo una compra,
                    es una experiencia, y te invitamos a que te sumes a nuestros cientos de clientes que realizan sus compras con confianza diariamente.</p>
            </div>

        </div>


    </div>