<div class="container-fluid contenedor">

    <div class="row d-flex justify-content-center">
        <div class="col-md-9 ">
            <div class="card p-4 mt-3 columna">
                <h3 class=" heading mt-5 text-center " style="color: white; font-weight: lighter; ">BUSCAR EN TODA LA TIENDA</h3>
                <div class="d-flex justify-content-center px-5 ">
                    <div class="search "> <input type="text " class="search-input " placeholder="Search... " name=" ">
                        <a href="# " class="search-icon "> <i class="fa fa-search "></i> </a>
                    </div>
                </div>
                <div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>