.animacion {
    animation: fadeIn;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width: 350px;
}

mat-drawer-container {
    height: 100%;
}

mat-drawer-content {
    padding: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.example-spacer {
    flex: 1 1 auto;
}

.header {
    padding-bottom: 0px;
    height: 91px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    //margin-bottom: 25px;
    background: rgb(0, 155, 221);
    background: linear-gradient(90deg, rgba(0, 155, 221, 1) 3%, rgba(6, 160, 222, 1) 26%, rgba(71, 213, 215, 1) 100%);
    .logo-container {
        height: 100%;
        width: 230px;
        padding: 20px;
        display: inline-block;
        font-weight: 600;
        text-align: left;
    }
    .options {
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
        .option {
            padding: 10px 15px;
            color: white;
            font-size: 16.8px;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
            line-height: 35px;
            gap: normal;
            text-decoration: none
        }
    }
    .option:hover {
        transform: scale(1.05);
    }
    .optionsIcon {
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .option {
            padding: 10px 15px;
            color: white;
            font-size: 16.8px;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
            line-height: 35px;
            gap: normal;
            text-decoration: none;
        }
    }
}

.cart-icon {
    font-size: 28.8px;
    display: inline;
    line-height: 28.8px;
    gap: normal;
}

.user-icon {
    font-size: 16.8px;
    display: inline-block;
    line-height: 35px;
    gap: normal;
    letter-spacing: 1px;
    padding: 10px 15px;
    text-align: center;
}

.menu-spacer {
    flex: 1 1 auto;
}

.sidenav {
    background-color: white;
}

.wppbtn {
    position: fixed;
    float: left;
    display: block;
}

.footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}